@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* EFFECTS */

    .text-hover-blue {
        @apply hover:text-primary
    }

    /* BACKGROUND */
    .bg-prime {
        @apply bg-[rgba(3,_94,_202,_.2)] overflow-hidden 
    }
    .bg-black-prime {
        @apply bg-[#20202D]
    }

    .li-radio {
        @apply before:content-[url('./assets/images/icons/list-radio.svg')] before:bg-no-repeat before:bg-cover before:w-[18px] before:h-[18px] flex items-center

    }
    .col-4 {
        width: calc(100% / 3);
    }

    .col-3 {
        width: 25%;
    }

    .col-5 {
        width: calc(100% / 5);
    }

    .col-6 {
        width: 50%;
    }

    .col-8 {

        width: 66.66%;
    }
    .col-12 {
        width: calc(100% * 12 / 12);
    }
    .left-effect {
        position: relative;
        animation: leftShow .8s ease-in-out;
    }
    @keyframes leftShow {
        from { left: -50%; opacity: 0; }
        to { left: 0; opacity: 1; };
    }
    .right-effect {
        position: relative;
        animation: rightShow .8s ease-in-out;
    }
    @keyframes rightShow {
        from { right: -50%; opacity: 0; }
        to { right: 0; opacity: 1; };
    }
    .top-effect {
        position: relative;
        animation: topShow .8s ease-in-out;
    }
    @keyframes topShow {
        from { transform: translateY(-10%); opacity: 0; }
        to { transform: translateY(0);pacity: 1; };
    }
    .bottom-effect {
        position: relative;
        animation: bottomShow .8s ease-in-out;
    }
    @keyframes bottomShow {
        from { transform: translateY(25%); opacity: 0; }
        to { transform: translateY(0); opacity: 1; };
    }
    .anim-bounce { animation: moving 1s ease-in-out infinite alternate; }

    @keyframes moving {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
    }

    
}

@layer components {
    
    /* NAVBAR */

    .nav-wrapper {
        @apply lg:hidden fixed w-full bg-white/90 border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900 md:shadow-lg z-30
    }
    .nav-container {
        @apply container flex flex-col flex-wrap lg:flex-row items-center justify-between mx-auto gap-4
    }
    .nav-header {
        @apply flex flex-wrap items-center justify-between w-full
    }
    .nav-btn-open {
        @apply inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600
    }

    /* HEADER */
    
    .header {
        @apply hidden lg:flex items-center pt-[22px] pb-[26px] bg-white/90 border-b-2 border-gray-300 sticky top-0 z-30
    }

    /* HERO */

    .hero {
        @apply bg-[linear-gradient(311.76deg,_#D4E7FE_-15.24%,_#FFFFFF_78.85%)] pt-[60px] md:pt-[110px] lg:pt-0
    }

    /* FOOTER */

    .footer-wrapper {
        @apply flex pt-[74px] pb-[181px] bg-[#2B2B39]
    }


}
