/* RESET STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: .2s ease-in-out;
}

body {
    overflow-x: hidden;
}

/* REUSED STYLES */

.section {
    padding-block: 96px;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input {
    font-family: "Inter";
    background: transparent;
    outline: none;
    border: none;
}
.bg-hero {
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
}
.text-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 66px;
    color: #0A093D;
}
.text-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #656464; 
    text-align: unset;
}
.text-primary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.02em;

    color: #217BF4;
}
.text-secondary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #4A4A56;
}

.btn {
    padding: 24px 48px;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    border-radius: 14px;
}

.bg-primary-white {
    background-color: rgba(33, 123, 244, .2);
}

.btn-primary {
    background-color: #217BF4;
}

.btn-secondary {
    background-color: #ffffff;
    border: 1px solid #217BF4;
    color: #217BF4 !important;
}
.li-radio {
    position: relative;
}
.li-radio p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #171648;
}

.card-wrapper {
    display: flex;
    align-items: center;
    gap: 59px;
}

.card-wrapper .card-item .card-content p {                      
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #8C8C8C;
}

.card-wrapper .card-item .card-content h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #0A093D;
}
            
.card-wrapper .card-item .card-content button.btn {
    padding: 22px 38px;
}

.card-item {
    padding: 40px 44px;
    background-color: #ffffff;
    border-radius: 8px;
    filter: drop-shadow(0 4px 4 rgba(0, 0, 0, .25));
}

.tabs-wrapper ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    padding: 8px;
    background-color: rgba(33, 123, 244, .2);
}

.tabs-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: 14px;
}

.tabs-item button {
    color: #000 !important;
}

.tabs-item:hover {
    background-color: #217BF4;
    cursor: pointer;
}

.tabs-item:hover button {
    color: #ffffff !important;
}

.tabs-item button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.text-hover-blue:hover img {
    filter: invert(31%) sepia(90%) saturate(2063%) hue-rotate(205deg) brightness(102%) contrast(91%);
}

/* END REUSED STYLES */

#review .card-wrapper .card-item:last-child {
    padding: 0;
}

#community .text-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #656464;
}

#community .card-wrapper .text-subtitle {
    text-align: unset;
}

#community .card-wrapper h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: #2F2C4A;
    padding-bottom: 14px;
}


#header .menu-navigation a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: #656464;
}
#header .menu-navigation a.active {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: #2B2B39;
}
#header .menu-action form input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* text-align: center; */

    color: #686868;
}

#members .card-wrapper {
    gap: 30px !important;
}

#members .card-wrapper .card-item {
    padding: 30px 52px;
    height: 316px;
}

#members .card-wrapper .card-item h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #2F2C4A;
}

#news .card-wrapper {
    justify-content: unset;
}

#news .card-wrapper .card-item {
    padding-inline: 0;
}

#news .card-wrapper .card-item h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #2F2C4A;
}

#header .menu-action .button-box button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #FFFFFF;
}

#header .menu-action .search-box {
    /* border-bottom: 1px solid #E5E5E5; */
}

#footer {
    color: #ffffff;
}

#footer .footer-title {
    padding-bottom: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

#footer .footer-link a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.0125em;
    color: lightgray;
}

#footer .footer-top .newsletter {
    text-align: left;
}

#footer .footer-top .newsletter p {
    padding-block: 18px 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #E7E7E7;
}

#footer .footer-top .newsletter .button-form {
    border: 2px solid #717179;
    position: relative;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .footer-top .newsletter .button-form input {
    padding: 18px 24px;
    color: gray;
}

#footer .footer-top .newsletter .button-form button.btn-subscribe {
    padding: 16px 24px;
    color: #000;
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 31px;
    color: #ffffff;
}

.footer-bottom .social-list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-bottom .social-list li {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {

    .container {
        padding-inline: 16px;
    }
    
}